
.container-window {
    background-color: #fff;
    moz-border-radius: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 38px;
    margin-bottom: 40px;
}
.container-window .myself {
    
    font-size: 20px;
    line-height: 1.8;
    color: #666;
    text-align: justify;
}


.wrapper-footer {
    margin-top: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}
.containerfoot {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}
footer {
    padding: 20px 0;
    text-align: center;
}

.svg-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
}

  p {
  color:              black;
  font-size:          1em;
}
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vmin;
}
p {
  font-size: 2vmin;
  color: black;
  text-align: justify;
}
#footer {
    position: fixed;
    height: 11%;
    bottom: 0;
    width: 100%;
}
